.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0rem 1rem 0rem;
  align-self: stretch;
  border-bottom: 1px solid #7E7E7E;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    flex: 1 0 0;

    h1 {
      height: fit-content;
    }
  }

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
    color: var(--EARTH, #201515);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
    color: var(--700, #7E7E7E);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.main_container {
  padding: 1.25rem;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}